/*
Theme Name: test
Theme URI: http://wordpress.org/themes/twentythirteen
Author: Dragan
Author URI: http://wordpress.org/
Description: The 2013 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: test

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
    
    font-family: Arial, sans-serif;
    font-size: 18px;
	color: #333;

}

a:link,
a:visited {
    color: #7FFF00;

}

p {

    line-height: 1.65em;
}


/* General Layout */
div.container {
    max-width: 920px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

}

article.post{
    border-bottom: 2px solid #000000;

}

/* Header */
.site-header {
    border-bottom: 2px solid #999;
}


/* Footer */
.site-footer {
    margin-top: 30px;
    border-top: 2px solid #999;
}

/* Navigation menus */
.site-nav ul {
    margin: 0;
	padding: 0;
}

.site-nav ul:before, .site-nav ul:after { content: ""; display: tabele; }
.site-nav ul:after { clear: both; }
.site-nav ul { *zoom: 1; }

.site-nav ul li {
    list-style: none;
	float: left;
}	
	
/* Site Header Menu */

.site-header nav ul li {

margin-left: 5px;

}


.site-header nav ul li a:link,
.site-header nav ul li a:visited {
    display: block;
    padding: 10px 18px;
	border: 1px solid #BBB;
	border-bottom:  none;
    text-decoration: none;
}

.site-header nav ul li a: hover {
    background-color: #ececec;
}

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited{
    background-color: #006ec3;
	color: #FFF	
}

/* Footer Menu */
.site-header nav ul li{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 2px solid #BBB;
}

/* Page Layout */
article.page h2{
    font-size: 300%;
}







